*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Belleza";
  font-display: swap;
  src: url("/static/fonts/Belleza-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Libre Franklin";
  font-display: swap;
  src: url("/static/fonts/LibreFranklin-Regular.woff2") format("woff2");
}
body {
  margin: 0;
  font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
ul {
    margin: 0;
    padding: 0 16px;
}
li:not(.normal) {
    list-style: none;
}
input[type=submit] {
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
  margin: 0;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  width:1px;
  height:1px;
  overflow:hidden;
  padding: 0;
  position:absolute;
  margin: -1px;
}
.post a {
  color: inherit;
  text-decoration: underline;
}
.post a:hover {
  background-color: #eefbee;
}
